.t{
 height: 500px; width: 500px;
 position: relative;
 left: 700px;

}
.yellowshirt{
 font-size: 30px;
 font-family: 'Palanquin Dark', sans-serif;
 text-align: center;
}
.product{
 font-family: 'Palanquin Dark', sans-serif;
 font-size: 22px;
}
